.landing{
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-size: contain;
  background-position: center;
  background-repeat: repeat;
  a{
    color: white;
    text-shadow: 1px 2px 3px rgba(0,0,0,0.3);
  }
}
.landing h1{
  height: 150vh;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
  font-family: "Fira Sans", sans-serif;
}

.landing-space{
  padding: 50px;
}
.landing-buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:10px;
  color: white;
}

.btn{
  background-color: #F5A3A3;
  border:none;
  border-radius: 5px;
  padding: 10px 20px;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}

@media only screen and (max-width: 560px) {
  .landing {
    background-size: cover;
    background-position: center;
  }
  }
