.box{
  display: flex;
  justify-content: center;
  align-items: center;

}

.trip-form{
  max-width: 800px;
  padding: 20px;
}

.btn {
  background-color: #F8D1C1;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #F5A3A3;
}

h1{
  text-align: center;
  font-family: PT Serif;
  font-weight: 500;
  padding-bottom: 15px;
}

.input{
  border-radius: 15px;
}
