<h1>Friends</h1>

<div class="col-sm-8 my-3">
  <%= form_with url: friendships_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Type a name"
      %>
    <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
  <% end %>
</div>

<% if @friendships.any? %>
    <% @friendships.each do |friend| %>
      <h4><%= friend.name %></h4>
    <% end %>
  <% else %>
    <em>Sorry, no friends found.</em>
  <% end %>
