<div class="landing">
    <h1>Her Solo Travels</h1>
  <div class="landing-buttons">
    <%= link_to "Sign in", new_user_session_path, class: "btn" %>
     <%= link_to "Don't have an account? Sign Up", new_user_registration_path, class: "btn" %>
  </div>
  <div class="landing-p">
  <p>By creating an account or signing in, you agree to our Terms of Service and Privacy Policy</p>
  </div>
</div>
