.footer {
  height: 50px;
  background: #eccbaa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  flex: 1;
  position: fixed;
  bottom: 0;
  width: 100vw;
  margin: 0;
}

.footer-btns {
  display: flex;
  gap: 15px;
}

.footer-btn {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  background-color: #eccbaa;
  border-radius: 5px;
}

.footer-btn:hover {
  background-color: #e1c299;
}
