.footer {
  height: 50px;
  background: #eccbaa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  flex: 1;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}

.footer-btns {
  display: flex;
  gap: 15px;
}

.footer-btn {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  background-color: #eccbaa;
  border-radius: 5px;
}

.footer-btn:hover {
  background-color: #e1c299;
}

.footer-links {
  display: flex;
  align-items: center;
  gap: 15px;
}
.footer-links a {
  color: white;
  opacity: 0.75;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.footer-links a:hover{
  opacity:1;
}
